@use './variables.scss';
* {
  color: $primary;
  font-family: $font-sans;
}
h1, h2, h3 {
  color: $secondary;
}
h2 {
  font-size: $fs-heading;
}
h3 {
  font-size: $fs-xxl;
  font-weight: 600;
}
a, :deep(a) {
  color: $green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
p, :deep(p) {
  line-height: 1.5;
}

.mono {
  font-family: $font-mono;
}