// theme

$grey-100: #f9f9f9;
$grey-200: #f8f8f8;
$grey-300: #c1c1c1;
$grey-400: #9d9d9d;

$white: #ffffff;
$black: #1c1b1b;

$background: #0A0A16;
$primary: #42B883;
$secondary: #35495E;
$accent: #08E583;
$dark: #1D1D2D;

// text
$textColour: #EBE9FC;
$linkColour: $accent;