@use "sass:color";
@use 'partials/_colours.scss';
@use 'partials/_typography.scss';
@use 'partials/_devices.scss';
@forward 'partials/_colours.scss';
@forward 'partials/_typography.scss';
@forward 'partials/_devices.scss';

* {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

@counter-style thumbs {
  system: cyclic;
  symbols: "</> ";
  suffix: " ";
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

h1 {
  @include typography.h1;
}
h2 {
  @include typography.h2;
}
h3 {
  @include typography.h3;
}
h4 {
  @include typography.h4;
}
h6 {
  @include typography.h6;
}
p {
  font-size: typography.$fontSize-m;
}

a {
  color: colours.$linkColour;
}

button, a.button {
  padding: 0.4em 1em;
  margin: 5px;
  border-radius: 0.5em;
  font-size: typography.$fontSize-m;
  border: none;
  text-decoration: none;
  &.primary {
    background-color: colours.$primary;
    color: colours.$background;
    &:hover {
      background-color: color.adjust(colours.$primary, $lightness: -10%);
    }
  }
  &.secondary {
    background-color: colours.$secondary;
    color: colours.$textColour;
    &:hover {
      background-color: color.adjust(colours.$secondary, $lightness: -10%);
    }
  }
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  &.large {
    padding: 0.65em 1.3em;
    font-size: 1.125rem;
  }
  &.full {
    width: 100%;
  }
}